.about-area {
	background-color: #f3f3f3;

	font-size: 14px;
	b{
		font-weight: 700;
		display: block;
	}
	p{
		margin-bottom: 24px;
		margin-top: 0;

		&:last-child{
			margin-bottom: 0;
		}
	}
}
.frame {
}

.about-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 24px;
	li{
		margin-right: 6px;
		padding-right: 6px;
		border-right: 1px solid #8f8f8f;
		margin-bottom: 6px;

		&:last-child{
			margin-right: 0;
			padding-right: 0;
			border: none;
		}
	}
	a{
		color: #8f8f8f;
		font-size: 14px;
		text-decoration: none;
		transition: all .3s;
border-bottom: 1px solid transparent;
		&:hover{
			border-color: #8f8f8f;
		}

	}
}
