<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-3 col-xl-4 d-none d-lg-block site-footer__left">
				<ul class="footer-nav">
					<li><a href="#">Новинки</a></li>
					<li><a href="#">Одежда</a></li>
					<li><a href="#">Обувь</a></li>
					<li><a href="#">Аксессуары</a></li>
				</ul>
				<ul class="footer-nav">	
					<li><a href="#">Шоурумы</a></li>
					<li><a href="#">Скидки</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			 
			<div class="col-12 col-md-4 col-lg-3  site-footer__way">
				<div class="site-footer__title">Способы оплаты</div>
				<div class="site-footer__pay">
					<img src="images/mc.png" alt="">
					<img src="images/visa.png" alt="">
					<img src="images/mir.png" alt="">
				</div>
			</div>
			<div class="col-12 col-md-4 col-lg-3  site-footer__contact">
				<div class="site-footer__phone">+7 (908) 908-98-98</div>
				<div class="site-footer__sotial sotial-block">
					<a href="#"><img src="images/facebook.png" alt=""></a>
					<a href="#"><img src="images/vk.png" alt=""></a>
					<a href="#"><img src="images/instagram.png" alt=""></a>
				</div>
				
			</div>
			<div class="col-12 d-none d-md-block col-md-4  col-lg-3 col-xl-2 site-footer__right">
				<img src="images/googleplay.png" alt=""><img src="images/appstore.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="copy">© 2020. <a href="#">Политика конфиденциальности</a></p>
			</div>
		</div>
	</div>
</footer>