/* mob-menu-btn begin */
.menu-button
{
    position: relative;
    z-index: 100;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &__burger
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 3px;
        // transform: translateX(-50%);
        margin: -1px 0 0 -30%;
        transition: transform .2s ease 0s;

        &:before,
        &:after
        {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: #000;
        }
        &:before
        {
            top: -8px;
            transition: top .2s linear .4s;
        }
        &:after
        {
            bottom: -8px;
            transition: bottom .2s linear .4s;
        }
    }
    &__burger-line
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform .2s linear .2s;
        background: #000;
    }

    &.active &__burger
    {
        transition: transform .2s linear .4s;
        transform: rotate(45deg);
    }
    &.active &__burger-line
    {
        transform: rotate(90deg);
    }
    &.active &__burger:before
    {
        top: 0;
        transition: top .2s linear; 
    }
    &.active &__burger:after
    {
        bottom: 0;
        transition: bottom .2s linear;
    }
}


/* mob-menu-btn end */


