.topsales-block {
  padding-bottom: 36px;
padding-top: 36px;

  @media (min-width: 768px) {
    padding-bottom: 45px;
    padding-top: 45px;
  }

  @media (min-width: 992px) {
    
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
  }
  @media (min-width: 1400px) {
  	max-width: 1230px;
  }
}
.brendSlider-cont{
	position: relative;
	@media (min-width: 992px) {
		padding: 0 12px;
	}
}
.brend-slider {
  &__item {
  	width: 234px;
  	padding: 0 6px;
  	box-sizing: border-box;
		@media (min-width: 992px) {
			width: auto;
		}
  }

  &__pagination {}

  &__arrow {
    &_prev {}

    &_next {}
  }
}

.top-card {
  	// width: 234px;
  &__mediabox {
  	margin-bottom: 8px;
  	img{
  		max-width: 100%;
  	}
  }

  &__body {}

  &__cont {
  	display: flex;
  	justify-content: space-between;
  	margin-bottom: 2px;
  	align-items: flex-start;
  }

  &__price {
  	color: #2a2d2d;
  	font-weight: 700;
  }

  &__title {
  	span{
  		letter-spacing: 0.06px;
  		&:first-child{

  		}
  		&:last-child{
  			color: #2a2d2d;
  		}
  	}
  }
}

.slider {
  &__pagination {}

  &__arrow {

    &_prev {}

    &_next {}
  }
}

.topsales-block {

.slider__arrow {
	display: none;


	width: 39px;
	height: 39px;
@media (min-width: 992px) { 
	display: block;
}
		@media (min-width: 1400px) { 
			width: 49px;
	height: 49px;
	  }

	position: absolute;
	top: 113px;
	
	z-index: 5;
	cursor: pointer;

	&:before{
		display: block;
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		border-radius: 50%;
		height: 100%;		
		background: #fff url(../images/slider-arrow.png) center no-repeat;
		box-shadow: 0 0 5px rgba(30, 27, 28, 0.32);
		background-size: 8px auto;
		@media (min-width: 1400px) {
			background-size: 11px auto;
		}
	}	

	&_prev{
		left: 0;
			// @media (min-width: 992px) { 
			// 	left: 26px;
		 //  }
	}
	&_next{
		right: 0;
		// @media (min-width: 992px) { 
		// 	right: 26px;
		// }
		&:before{
			transform: rotate(180deg);
		}
	}
}

}